/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}  */

/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6A0572, #21867a);
    color: #fff;
    display: flex;
} */

.main {
    flex: 1;
    /* padding: 60px; */
    text-align: center;
    /* margin-left: 270px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.class-container {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

/* .class-group {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .class-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.class-buttons button {
    padding: 15px 25px;
    background: #34495e;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.class-buttons button:hover {
    background: #2ecc71;
    transform: scale(1.05);
}

.labels {
    background: #fff;
    color: #2d3436;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
} */

.class-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.labels {
    display: block;
    width: 100%;
    text-align: center;
    background: #fff;
    color: #2d3436;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .class-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  /* }
  .class-buttons a {
    text-decoration: none;
  } */
  .class-buttons button {
    width: 100%;
    padding: 15px px;
    background: #34495e;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  .class-buttons button:hover {
    background: #2ecc71;
    transform: scale(1.05);
  }
