* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    display: flex;
    height: 100vh;
    /* background: linear-gradient(135deg, #6A0572, #21867a); */
}
.sidebar {
    width: 250px;
    background: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}
.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px 0;
    transition: 0.3s;
}
.sidebar a i {
    margin-right: 10px;
}
.sidebar a:hover {
    background:#43A047; /* Warna hijau terang saat hover */
    border-radius: 5px;
}
.main-content {
    margin-left: 270px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.header {
    background: #34495e;
    color: white;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
}
/* Dropdown Style */
.kelas-select select {
    padding: 6px 10px;
    background-color: #6A0572;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    width: 150px;
}
.kelas-select select:hover {
    background-color: #43A047;
}

.dashboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.table-container {
    display: flex;
    /* gap: 20px; */
}
.table {
    flex: 1;
    background: white;
    padding: 20px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}
.table-header {
    background: #6A0572;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background: #43A047;
    color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
td input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

td input[type="radio"] {
    width: 18px;
    height: 18px;
}

.button {
    margin-top: 20px;
    background: white;
    color: black;
    border: none;
    padding: 8px 16px; /* Memperkecil tombol */
    font-size: 14px; /* Memperkecil ukuran font */
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background: #f0f0f0;
}
